<configuration>
    <property scope="context" name="LOG_FORMAT" value="%d{HH:mm:ss.SSS} %-5level %logger - %msg%n"/>
    <property scope="context" name="FILE_LEVEL" value="DEBUG"/>
    <property scope="context" name="CONSOLE_LEVEL" value="DEBUG"/>

    <logger name="discord4j" level="INFO"/>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="reactor" level="WARN"/>
    <logger name="javax" level="WARRN"/>
    <logger name="io.netty" level="WARN"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_FORMAT}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILE_LEVEL}</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily log file rollover -->
            <fileNamePattern>logs/%d{yyyy-MM-dd}.log.zip</fileNamePattern>

            <!-- Keep 30 days max 1GB -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>${LOG_FORMAT}</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILE_LEVEL}</level>
        </filter>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>